@charset "utf-8";

:root{
    --cor0: #113e00;
    --cor1: #098000;
    --cor2: #cf9100;
    --cor3: #1119AA;
    --cor4: #b9b922;
    --cor5: rgb(183, 255, 0); 
    --cor6: rgb(99, 74, 0);
    --cor7: rgb(114, 175, 0);
}

*{
    margin: 0px;
    padding: 0px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box;
}

body, html{
    height: 100vh;
    width: 100vw;

    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: var(--cor0);

    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

#img-petstar-small {
    width: 100px;
    height: auto;
    display: inline-block;
}

header > h1{
    margin-bottom: 1em;
    text-align: center;
    color: white;
    display: inline-block;
}

header > p{
    margin: 0em 1.5em 0.8em 1.5em;
    text-align: center;
    color: white;
    display: block;
    font-weight: bold;
    font-size: 1.08em;
}

nav {
    background-color: var(--cor0);
    box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.403);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 45px;
}

nav > a {
    color: white;
    text-decoration: none;
    margin: 0 16px;
    font-weight: bold;
    font-size: 1.07em;
    padding: 6px 12px;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

nav > a:hover {
    background-color: yellow;
    color: black;
}

main{
    height: 100vh;
    width: 100vw;
    position: relative;
}

.fundo-main{
    background-image: linear-gradient(to bottom, var(--cor5), var(--cor4));
}

#login{
    background-color: rgba(255, 255, 255, 0.947);
    width: 320px;
    height:610px;
    border-radius: 15px;
    position: absolute;
    top: 50%;
    left: 50%;
    overflow: hidden;
    box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.412);
    transition: width 0.3s, height 0.3s;
    transition-timing-function: ease;
    transform: translate(-50%, -50%);
}

#login > #imagem{
    background: var(--cor0) url('../imagens/img1.png') no-repeat center center;
    height: 255px;
    background-size: cover;
    display: block;
}

#login > #formulario{
    display: block;
    padding: 10px;
    text-align: justify;
}

#formulario > h1{
    text-align: center;
    margin-bottom: 10px;
}

#formulario > p{
    font-size: 0.9em;
    margin-bottom: 10px;
}

footer {
    
}

form > .campo{
    background-color: var(--cor2);
    display: block;
    width: 100%;
    height: 40px;
    border-radius: 8px;
    margin: 5px 0px;
    border: 2px solid var(--cor2);
}

.campo > label{
    display: none;
}

.campo > span{
    color: white;
    font-size: 2em;
    width: 40px;
    padding: 4px;
}

.campo > input{
    background-color: rgb(237, 233, 254);
    font-size: 1em;
    width: calc(100% - 40px);
    height: 100%;
    border: none;
    border-radius: 6px;
    padding: 4px;
    transform: translate(40px, -40px);
}

.campo > input:focus-within{
    background-color: white;
    outline: none;
}

form > input[type=submit]{
    display: block;
    font-size: 1em;
    width: 100%;
    height: 40px;
    background-color: var(--cor0);
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    margin-top: 9px;
}

form > input[type=submit]:hover{
    background-color: var(--cor1);
    transition: 0.3s ease;
    cursor: pointer;
}

form > .botao{
    display: block;
    text-align: center;
    font-size: 0.9em;
    width: 100%;
    height: 40px;
    padding-top: 3px;
    margin-top: 5px;
    background-color: white;
    border: 1px solid var(--cor4);
    border-radius: 7px;
    text-decoration: none;
    color: var(--cor6);
    font-weight: bold;
}

form > .botao:hover{
    background-color: var(--cor4);
    color: white;
    transition: 0.3s ease;
    border: 1px solid rgba(0, 0, 0, 0);
    cursor: pointer;
}

form > .botao > span{
    font-size: 1.5em;
    transform: translate(5%, 25%);
}

.corpo-site{
    background: url('../imagens/img2.jpg') no-repeat center center;
}

.corpo-site > main {
    height: 100vh;
    width: 100vw;
    position: relative;
}

#agendar-servico {
    background-image: linear-gradient(to bottom, var(--cor4), var(--cor7));
    width: 80%;
    height: 70%;
    margin: 1em;
    padding: 1.2em;
    border-radius: 8px;
}

#agendar-servico > p {
    text-align: center;
    font-weight: bold;
    font-size: 19px;
    margin-bottom: 30px;
    background-color: var(--cor3);
    padding: 5px;
    border-radius: 5px;
    color: white;
    width: 100%;
} 

#agendar-servico > form {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: left;
}

#agendar-servico > form > label {
    margin: 10px 0;
    font-weight: bold;
}

#agendar-servico > form > select,
#agendar-servico > form > input {
    padding: 0.5em;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 80%;
    margin: 1px 0;
}

#agendar-servico > form > button {
    margin-top: 2em;
    padding: 0.5em;
    border-radius: 5px;
    border: none;
    background-color: var(--cor0);
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    width: 30%;
    align-self: center;
    color: white;
}

#agendar-servico > form > button:hover {
    transition: transform 0.3s;
    transform: scale(1.02);
}

.main-initial-page {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    line-height: 1.6;
    font-family: Arial, sans-serif;
}

.main-initial-page > h1,
.main-initial-page h2 {
    text-align: center;
    margin-bottom: 20px;
}

.main-initial-page > p {
    text-align: justify;
    margin-bottom: 20px;
}

.main-initial-page > ul {
    list-style-type: disc;
    padding-left: 40px;
    margin-bottom: 20px;
}

.main-initial-page > ul > li {
    margin-bottom: 10px;
}