*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #00FF00;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.form-box {
  background-color: #A0B19C;
  padding: 20px 40px;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

h2 {
  color: #000;
  margin-bottom: 10px;
}

p {
  color: #333;
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

label {
  margin-bottom: 8px;
  color: #333;
}

input[type="email"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.codigo-inputs {
  display: flex;
  justify-content: center;
  gap: 5px;
  margin-bottom: 20px;
}

.codigo-inputs input {
  width: 40px;
  height: 40px;
  text-align: center;
  font-size: 18px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.btn {
  background-color: #00A2E8;
  text-decoration: none;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 10px;
}

.btn:hover {
  background-color: #007bb5;
}


.email-container {
    display: flex;
    align-items: center;
}

.email-container input {
    flex: 1;
    margin-right: 10px;
}

.email-container img {
    width: 30px;
    height: auto;
    margin-right: 5px;
    margin-bottom: 12px;
}

/* Definindo largura fixa para o campo de email */
input[type="email"] {
    min-width: 500px;
    padding: 8px;
}